background, color, font-family, font-size,
height, margin, padding, text-align

/* accent font */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 52px;
  color: #3f4c66;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 3px solid #3f4c66;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  color: #3f4c66;
  text-align: center;
}

.colored-text {
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
  color: #3f4c66;
  text-align: center;
}

/* buttons */

.btn {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 6px 12px;
    border-radius: 6px;
  }
  
  .btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  
  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }