/*background, color, font-family, font-size,
height, margin, padding, text-align */

/* accent font */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

 h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 52px;
  color: #f2eae3;
  text-align: center;
  margin-top: 0;

}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  color: #f2eae3;
  text-align: center;
  margin: 0 auto;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
  color: #f2eae3;
  text-align: center;
  margin: 0 auto;
}

header h2 {
  margin-top: -40px;
}

.colored-text {
  font-family: 'Amatic SC', cursive;
  font-size: 44px;
  color: #3f4c66;
  text-align: center;
}

body {
  background-color: #fff;
}

/* header styles */

header div {
  background-color: #3f4c66;
  border-bottom: 8px solid #252d3b;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

/*main styles */

main {
 max-width: 960px;
 margin: 0 auto;
 background-color: #f4f2f0;
 padding: 10px;
}

main article div {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
} 

main article a {
  color: #007EB2;
  text-decoration: none;
} 

main article a:hover {
  color: #03B3FF;
  text-decoration: none;
} 


.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3f4c66;
  font-size: 16px;
  line-height: 32px;
  max-width: 75%;
  text-align: left;
}

.responsive {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.rule {
  max-width: 30%;
  margin-top: 40px;
  color: #3f4c66;
}

/*footer styles */

footer div {
  background-color: #3f4c66;
  border-top: 8px solid #252d3b;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}